@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Home Page";
}



<div class="row pull-left">
    <a>  <img src="~/Images/HomescreenImage.png" class="rarerug"></a>
    <button onclick="window.location.href='@Url.Action("Dressfinder", "Dressfinder")'" id="Hbutton"></button>
    <button onclick="window.location.href='@Url.Action("Error", "Home")'" id="H2button"></button>
</div>

<div class="container">
    <div class="colltekst" style="display: inline-block;">
        <h1 class="header-roze2">One Stop Shop</h1>
        <p class="ondertitel">Een Jurk of Pak kopen? </p>
    

    </div>
    

    <div class="row">
        <a href="@Url.Action("Error", "Home")"> <img src="~/Images/VideoImage.png" class="videoImage"></a>

    </div>

    <div class="colltekst" style="display: inline-block;">
        <h1 class="header-roze3">Blog</h1>
        <p class="ondertitel4">Blijf op de hoogte van de Bruid wereld </p>


    </div>

    <div class="row">
        <a href="@Url.Action("Error", "Home")"> <img src="~/Images/HomescreenImage2.png" class="videoImage"></a>

    </div>
    <div class="row">
        <a href="@Url.Action("Error", "Home")"> <img src="~/Images/HomescreenImage3.png" class="videoImage"></a>

    </div>
    <div class="row">
        <a> <img src="~/Images/Homescreenimage4.png" class="videoImage"></a>

    </div>
</div>