<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoneymoonShopNieuw</title>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body style="background:#FFF">
    <div class="container">
        <nav class="navbar navbar-light bg-faded" style="background:#FAC9C4;margin-bottom:0px">
            <ul class="nav navbar-nav col-md-8">
                <li class="nav-item active text-uppercase">
                    <a class="nav-link" href="#"><strong>website</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="#"><strong style="color: #F0597A">webshop</strong></a>
                </li>
            </ul>
            <div class="col-md-2 text-uppercase" style="margin-top: 15px">
                <p><strong>T </strong>(010) 4126143</p>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="text" placeholder="Wat zoek je?">
            </div>
        </nav>
        <div class="container">
            <nav class="navbar navbar-light bg-faded" style="background-color : transparent;position:absolute">
                <ul class="nav navbar-nav col-md-">
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="https://youtube.com"><strong style="font-size: 200%; font-family: 'Times New Roman', Times, serif; color:#000000;">HONEYMOONSHOP </strong> <strong style="color:black;">&#169;</strong></a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><strong style="color: #F0597A">HOME</strong></a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="@Url.Action("Bruid", "Bruid")"><strong style="color:#000000">BRUID</strong></a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="https://youtube.com"><strong style="color: #000000">BRUIDEGOM</strong></a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="https://youtube.com"><strong style="color: #000000">DE WINKEL</strong></a>
                    </li>

                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="https://youtube.com"><strong style="color: #000000">BLOG</strong></a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="https://youtube.com"><strong style="color: #000000">CONTACT</strong></a>
                    </li>
                    <li class="nav-item text-uppercase pull-right">
                        <a class="nav-link" href="https://youtube.com"><strong style="background: #F0597A;border:15px solid #F0597A; ">AFSPRAAK MAKEN</strong></a>
                    </li>
                </ul>
                <div class="nav navbar-nav col-md-2">

                </div>
            </nav>
            <div>
                
                @RenderBody()
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 box1">
                        <p><strong style="color: #FB999E ">Afspraak</strong></p>
                        <a href="http://www.google.nl" style="color: #FFFFFF">Maak afspraak</a>
                    </div>
                    <div class="col-md-4 box2">
                        <p><strong style="color: #FB999E">Social</strong></p>
                        <p><strong style="color: #FFFFFF">      Volgons</strong></p>
                        <div id="share-buttons">

                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                                <img src="~/Images/Facebook.png" alt="Facebook" />
                            </a>


                            <!-- Pinterest -->
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <img src="~/Images/Pintrest.png" alt="Pinterest" />
                            </a>

                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                                <img src="~/Images/Twitter.png" alt="Twitter" />
                            </a>

                            <!-- instagram -->
                            <a href="https://Instagram.com" target="_blank">
                                <img src="~/Images/Instagram.png" alt="Instagram" />
                            </a>

                            <!-- youtube -->
                            <a href="https://youtube.com" target="_blank">
                                <img src="~/Images/Youtube.png" alt="Youtube" />
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 box3">
                        <p><strong style="color: #FB999E">Reviews</strong></p>
                        <a href="http://www.google.nl" style="color: #FFFFFF">Bekijk onze reviews</a>
                    </div>
                </div>
            </div>
            <div class="row footerrow">
                <div class="col-md-10">
                    <p class="text-center" style="padding-top:40px">
                    Korte Hoogstraat 4 , 3001 Gl Rotterdam <strong>email</strong> info@honeymoonschop.nl <strong>tel</strong> (010) 412 61 43 <strong>whatsapp</strong> (06) 25199927
                    <p class="text-center">
                        <strong>Openeingstijden</strong> <strong>MA</strong> 12:00-17:30 <strong>DI t/m VR</strong> 09:30-17:30
                        <strong>ZA</strong> 09:30-18:00 <strong>DI t/M VR</strong> 11-17:00
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/Screenshot1.png" class="pull-right img-responsive" alt="Screenshot.jpg" style="width:100px;height:100px;">
                </div>
                <div class="col-md-6">
                    <img src="~/Images/Screenshot.jpg" class="pull-left img-responsive" alt="Screenshot" style="width:100px;height:100px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pull-left">
                    <p><strong style="color: #F0597A">De winkel</strong></p>
                    <ul list-style-type:none>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Over de Honeymoon</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Servicepunten</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Routebeschrijving</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Beurzen en Evenementen</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Vacatures</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Verkoopvoorwaarden</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">CBW erkend</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <p><strong style="color: #F0597A">Service</strong></p>
                <ul list-style-type:none>
                    <li><a href="http://www.google.nl" style="text-decoration:none">Beoordelingen</a></li>
                    <li><a href="@Url.Action("DressFinder", "DressFinder")" class="elements" style="text-decoration:none">Dressfinder</a></li>
                    <li><a href="http://www.google.nl" style="text-decoration:none">Grattis trouwmagazine</a></li>
                    <li><a href="http://www.google.nl" style="text-decoration:none">Nieuws brief</a></li>
                    <li><a href="http://www.google.nl" style="text-decoration:none">Veel gestelde vragen</a></li>
                    <li><a href="http://www.google.nl" style="text-decoration:none">CBW erkend</a></li>
                    <li><a href="http://www.google.nl" style="text-decoration:none">Reiniging van je trouwjurk</a></li>
                    <li><a href="http://www.google.nl" style="text-decoration:none">10 redenen om je afspraak te maken</a></li>
                    <li><a href="http://www.google.nl" style="text-decoration:none">The perfect match</a></li>
                    <li><a href="@Url.Action("Crud", "Beheer")" style="text-decoration:none">Database Beheer</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="pull-left">
                    <p><strong style="color: #F0597A">Acties</strong></p>
                    <ul list-style-type:none>
                        <li><a href="http://www.google.nl" style="text-decoration:none">The grand wedding show</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Summersale</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Trouw jurken onder 1000 euro</a></li>
                        <li><a href="http://www.google.nl" style="text-decoration:none">Trouwjurken voor de volslanke bruid</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<!--css normalize(all de css word door elke browser goed weergeven): <link rel="stylesheet" src ="//normalize-css.googlecode.com/svn/trunk/normalize.css"/>-->
