<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoneymoonShopNieuw</title>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body style="background:#FFF">
    <script>
function responsivemenu() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
function responsivemenu2() {
    var x = document.getElementById("myTopnav2");
    if (x.className === "topnav2") {
        x.className += " responsive";
    } else {
        x.className = "topnav2";
    }
}
    </script>

    <div class="container">
        <nav>
            <ul class="topnav2" id="myTopnav2">
                <li>
                    <a href="#"><strong style="color: #000000">website</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#"><strong style="color: #F0597A">webshop</strong></a>
                </li>

                <li style="float:right">
                    <a href="@Url.Action("Error", "Home")" style="color: #000000"><strong style="color: #000000">T </strong>(010) 4126143</a>
                </li>

                <li style="float:right">
                    <a class="active2" style="color: #000000" href="@Url.Action("Error", "Home")">Wat zoek je ?</a>
                </li>


                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px; color:#F0597A;" onclick="responsivemenu2()">☰</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <nav>
                <ul class="topnav" id="myTopnav">



                    <li>
                        <a href="@Url.Action("Error", "Home")"><strong style="font-size: 140%; font-family: 'Times New Roman', Times, serif; color:#000000;">HONEYMOONSHOP </strong> <strong style="color:black;">&#169;</strong></a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Home")"><strong style="color: #F0597A">HOME</strong></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Bruid", "Bruid")"><strong style="color:#000000">BRUID</strong></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Error", "Home")"><strong style="color: #000000">BRUIDEGOM</strong></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Error", "Home")"><strong style="color: #000000">DE WINKEL</strong></a>
                    </li>

                    <li>
                        <a href="@Url.Action("Error", "Home")"><strong style="color: #000000">BLOG</strong></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Error", "Home")"><strong style="color: #000000">CONTACT</strong></a>
                    </li>
                    <li>
                        <a href="@Url.Action("DatePickerDatum","DatePicker")"><strong style="background: #F0597A;border:15px solid #F0597A; color: #000000">AFSPRAAK MAKEN</strong></a>
                    </li>
                    <li class="icon">
                        <a href="javascript:void(0);" style="font-size:15px; color:#F0597A;" onclick="responsivemenu()">☰</a>
                    </li>
                </ul>
            </nav>

            <div>

                @RenderBody()
            </div>
            <div class="container">
                <div class="row" style="padding-top: 80px;">
                    <div class="col-md-4 box1">
                        <p><strong style="color: #FB999E ">Afspraak</strong></p>
                        <a href="@Url.Action("Error", "Home")" style="color: #FFFFFF">Maak afspraak</a>
                    </div>
                    <div class="col-md-4 box2">
                        <p><strong style="color: #FB999E">Social</strong></p>
                        <p><strong style="color: #FFFFFF">      Volgons</strong></p>
                        <div id="share-buttons">

                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                                <img src="~/Images/Facebook.png" alt="Facebook" />
                            </a>


                            <!-- Pinterest -->
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <img src="~/Images/Pintrest.png" alt="Pinterest" />
                            </a>

                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                                <img src="~/Images/Twitter.png" alt="Twitter" />
                            </a>

                            <!-- instagram -->
                            <a href="https://Instagram.com" target="_blank">
                                <img src="~/Images/Instagram.png" alt="Instagram" />
                            </a>

                            <!-- youtube -->
                            <a href="@Url.Action("Error", "Home")" target="_blank">
                                <img src="~/Images/Youtube.png" alt="Youtube" />
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 box3">
                        <p><strong style="color: #FB999E">Reviews</strong></p>
                        <a href="@Url.Action("Error", "Home")" style="color: #FFFFFF">Bekijk onze reviews</a>
                    </div>
                </div>
            </div>
            <div class="row footerrow">
                <div class="col-md-10">
                    <p class="text-center" style="padding-top:40px">
                        Korte Hoogstraat 4 , 3001 Gl Rotterdam <strong>email</strong> info@honeymoonschop.nl <strong>tel</strong> (010) 412 61 43 <strong>whatsapp</strong> (06) 25199927
                    <p class="text-center">
                        <strong>Openeingstijden</strong> <strong>MA</strong> 12:00-17:30 <strong>DI t/m VR</strong> 09:30-17:30
                        <strong>ZA</strong> 09:30-18:00 <strong>DI t/M VR</strong> 11-17:00
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/Screenshot1.png" class="pull-right img-responsive" alt="Screenshot.jpg" style="width:100px;height:100px;">
                </div>
                <div class="col-md-6">
                    <img src="~/Images/Screenshot.jpg" class="pull-left img-responsive" alt="Screenshot" style="width:100px;height:100px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <p><strong style="color: #F0597A">De winkel</strong></p>
                    <ul class="footerlinks"list-style-type:none>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Over de Honeymoon</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Servicepunten</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Routebeschrijving</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Beurzen Evenement</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Vacatures</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Verkoopvoorwaarden</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">CBW erkend</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <p><strong style="color: #F0597A">Service</strong></p>
                <ul class="footerlinks"list-style-type:none>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Beoordelingen</a></li>
                    <li><a href="@Url.Action("DressFinder", "DressFinder")" class="elements" style="text-decoration:none">Dressfinder</a></li>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Grattis trouwmagazine</a></li>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Nieuws brief</a></li>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Veel gestelde vragen</a></li>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">CBW erkend</a></li>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Reiniging van je trouwjurk</a></li>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">10 redenen om je afspraak te maken</a></li>
                    <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">The perfect match</a></li>
                    <li><a href="@Url.Action("Crud", "Beheer")" style="text-decoration:none">Database Beheer</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="">
                    <p><strong style="color: #F0597A">Acties</strong></p>
                    <ul class="footerlinks" list-style-type:none>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">The grand wedding show</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Summersale</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Trouw jurken onder 1000 euro</a></li>
                        <li><a href="@Url.Action("Error", "Home")" style="text-decoration:none">Trouwjurken voor de volslanke bruid</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<!--css normalize(all de css word door elke browser goed weergeven): <link rel="stylesheet" src ="//normalize-css.googlecode.com/svn/trunk/normalize.css"/>-->
