
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    $(function () {
        $("#sliderRange").slider({
            range: true,
            @{var minprijs = (int)(ViewData["minprijs"]); }
            @{var maxprijs = (int)(ViewData["maxprijs"]); }
            min: @minprijs,
            max: @maxprijs,
            values: [@minprijs, @maxprijs],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#sliderRange").slider("values", 0) +
            " - $" + $("#sliderRange").slider("values", 1));
        $( ".selector" ).slider({
            change: function( event, ui ) {}
        });
        $( ".selector" ).on( "slidechange", function( event, ui ) {
            alert('Hello World!');
        } );
    });
</script>
<script>
    function myFunction() {
        var e =  document.getElementById("checkboxMerk");
        e.style.display= (e.style.display === 'block')?'none': 'block';

    }
    function myFunction2() {
        var e =  document.getElementById("checkboxStijl");
        e.style.display= (e.style.display === 'block')?'none': 'block';
    }

</script>
<script>

    function AllDresses() {
        $.ajax({
            type: "post",
            url: '@Url.Action("FilterVerwerken", "Dressfinder")',
        }).done(function(result) {
            $('#productPartial').html(result);
        }).fail(function(errorThrown) {
            alert('fail:');
            console.log(errorThrown);
        });
    }

    function filterClick() {

        var filterMerk = $('#checkboxMerk input:checkbox:checked').map(function() {
            return $(this).val();
        }).get();

        var filterStijl = $('#checkboxStijl input:checkbox:checked').map(function() {
            return $(this).val();
        }).get();

        var neklijnDd = $('#neklijnDd option:selected').text();
        var silhouetteDd = $('#silhouetteDd option:selected').text();
        var kleurenDd = $('#kleurenDd option:selected').text();
        var slider = $('#sliderRange').slider("values");
        var orderType = $('#orderBy option:selected').val();

        $.ajax({
            type: "post",
            url: '@Url.Action("FilterVerwerken", "Dressfinder")',
            traditional:true,
            data: {filterMerk, filterStijl, neklijnDd, silhouetteDd, kleurenDd, slider, orderType}
        }).done(function(result) {
            $('#productPartial').html(result);
        }).fail(function(errorThrown) {
            alert('fail:');
            console.log(errorThrown);
        });
    }
</script>

<div class="col-md-3">
    @* filterlijst *@
    <!--<img src="https://placekitten.com/150/800" class="pull-left img-responsive" alt="placeholder">-->

    <p style="padding-top:30px; font-family: 'Oswald', sans-serif"><strong>CATEGORIEËN:</strong></p>
    <button type="submit" class="button1" style="padding-left:10px;">Summer Sale</button> <br>
    <button type="submit" class="button1" style="padding-left:10px;">Nieuwe Collectie</button> <br>
    <button type="submit" class="button1" onclick="AllDresses()" style="padding-left:10px;">Alle jurken bekijken</button> <br>

    <div>
        <p style="padding-top:30px; font-family: 'Oswald', sans-serif;"><strong>Filter op:</strong></p>
        <button class="merkbutton" onclick="myFunction()"><strong>Merk</strong></button> <br>
        <form id="filter" method="post">
            @{var merken = (List<string>)ViewData["merken"]; }
            <div id="checkboxMerk">
                @foreach (var item in merken)
                {
                    <p><input type="checkbox" onclick="filterClick()" name="@item" id="@item" value="@item" style="height: 12px; font-family: 'Open Sans', sans-serif" />@item</p>
                }
            </div>
        </form>
        <br>
    </div>

    <div>
        <button class="merkbutton" onclick="myFunction2()"><strong>Stijl Jurk</strong></button> <br>
        <form name="filter"  method="get">
            @{var stijlen = (List<string>)ViewData["stijlen"]; }

            <div id="checkboxStijl">
                @foreach (var item in stijlen)
                {
                    <p><input type="checkbox" onclick="filterClick()" name="stijl" value="@item" style="height:12px; font-family: 'Open Sans', sans-serif"/>@item</p>
                }
            </div>
        </form>
    </div>
    <p>
        <label for="amount">Prijs</label>
        <input type="text" id="amount" readonly style="border:0; color:#F0597C; font-weight:bold; background: 0">
    </p>
    <div id="sliderRange" onclick="filterClick()"></div>

    <div>
        <p style="font-family: 'Oswald', sans-serif;padding-top:25px; "><strong>Filters verfijnen:</strong></p>
        <br>
        @{var neklijn = (List<string>)ViewData["neklijnen"]; }
        <select id="neklijnDd" class="dropdown"  onchange="filterClick()"  style="height:20px ;color:dimgray">
            <!--does something when its selected(like get the dresses and reload them)-->
            <option value=0>Neklijn</option>
            @foreach (var item in neklijn)
            {
                <option value=@item>@item </option>
            }
        </select>
        <br>
        @{var silhouette = (List<string>)ViewData["silhouette"]; }
        <select id="silhouetteDd" class="dropdown" onchange="filterClick()"  style="height:20px ;color:dimgray">
            <!--does something when its selected(like get the dresses and reload them)-->
            <option value=0>Silhouette</option>
            @foreach (var item in silhouette)
            {
                <option value=@item>@item </option>
            }
        </select>

        <br>
        @{var kleuren = (List<string>)ViewData["kleuren"]; }
        <select id="kleurenDd" class="dropdown" onchange="filterClick()" style="height:20px ;color:dimgray">
            <!--does something when its selected(like get the dresses and reload them)-->
            <option value=0>Kleuren</option>
            @foreach (var item in kleuren)
            {
                <option value=@item>@item </option>
            }
        </select>
        <br>
        <p style="font-family: 'Oswald', sans-serif;padding-top:25px; "><strong>Sorteren:</strong></p>
        <select id="orderBy" class="dropdown" onchange="filterClick()" style="height:20px ;color:dimgray">
            <option value=descending>Prijs Hoog/Laag</option>
            <option value=ascending>Prijs Laag/Hoog</option>
        </select>
       
    </div>

</div>